extends layout

block content
  .col-md-6.col-md-offset-3
    br
    .jumbotron
      .page-title: h1 Bible.io
      p.lead Receive daily bible passages text messages on your mobile phone.

      if !user
        a.btn-lg.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          | Sign in with Google
      else
        if user.profile.mobile
          p We'll send you a bible passage everyday for free :)
            | &nbsp;
            i.fa.fa-check(style='color:limegreen')
        else
          p Update your mobile to start receiving mesages from us.
          a.btn-lg.btn.btn-primary.btn-block(href='/account') Update preferences

    if votd
      blockquote= votd.text
        br
        small #{votd.bookname} #{votd.chapter}:#{votd.verse}

